*.dvi
*.ps

*.DS_Store

*.aux
*.bbl
*.blg
*.log
*.mtc*
*.brf
*.maf
*.out
*.toc
*.thm
*.lof
*.lot
*.fdb_latexmk
*.fls
*.xbb
*.bcf
*.run.xml
*.synctex.gz
*.xdv
*.synctex(busy)

# Local thesis build and recovery outputs
.build/
*-SAVE-ERROR

# Python bytecode and caches
__pycache__/
*.pyc

_*_.synctex.gz
_*_.tex

.#*
